body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(/pink_dust.png);
}

.App {
  display: inline-block;
}

.grid {
  display: grid;
  z-index: 5;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin: 0;
}

.alive {
  background-color: green;
}

.dead {
  background-color: bisque;
}

.control-buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.control-buttons ul li {
  width: 150px;
  height: 50px;
  line-height: 3;
  text-align: center;
  background: cadetblue;
  color: white;
  list-style: none;
  cursor: pointer;
}

.control-buttons ul ul {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  right: 0;
}

.control-buttons ul ul li {
  width: 150px;
  text-align: center;
  background: cadetblue;
  color: white;
  list-style: none;
  cursor: pointer;
}

#dropdown-list:hover ul {
  display: flex;
} 

.control-buttons ul ul li:hover {
  background-color: teal;
}


